<!DOCTYPE html>
<html>
<body>

<h1>The button name attribute</h1>

<form action="/selectchat" method="get">
Choose your Chat Room:
<button name="chatroom" type="submit" value="1">chatroom1</button>
<button name="chatroom" type="submit" value="2">chatroom2</button>
</form>



</body>
</html>
